body {
  background-color: hsl(212, 45%, 89%);

}
.container {
  background-color: white;
  width: 35%;
  text-align: center;
  margin: 25% auto;
  position: relative;
  height: 750px;
  border-radius: 20px;

}

img {
  left: 5%;
  width: 90%;
  position: absolute;
  margin-top: 5%;
  display: block;
    border-radius: 20px;

}
.par-1 {
  margin: auto;
  position: absolute;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  top: 62%;
  margin-left: 35px;



}
.par-2 {
  margin: auto;
  position: absolute;
  font-family: 'Outfit', sans-serif;
  font-weight: 0;
  font-size: 25px;
  color: grey;
  text-align: center;
  top: 80%;
  margin-left: 35px;
  margin-right: 35px;
}
